attached_assets/PHƯƠNG_ÁN_THIẾT_KẾ_NHÀ_HỒ_VĂN_HUÊ__1773162928385.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/D_1773170255668.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/PHƯƠNG_ÁN_THIẾT_KẾ_NHÀ_HỒ_VĂN_HUÊ__1773170135760.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mẫu_Kết_QUẢ_1773262799873.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mau_3D_9_1773816385463.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mau_3D_9_1773816456400.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mau_3D_9_1773816624596.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mau_banve_3D_10_1773816385463.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mau_banve_3D_10_1773816456400.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/Mau_banve_3D_10_1773816624596.pdf filter=lfs diff=lfs merge=lfs -text
